<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <script src="/static.js"></script>
    <script src="/file.js"></script>
    <title>Account Managment</title>
</head>
<body>
    <%- include('pLoggedIn.ejs') %>
    <br>

    <div id="topuperr"></div>
    <div id="topupres"></div>
    <div class="inline">
        <fieldset>
            <legend>User Profile</legend>
            <div class="inline">First Name:</div> <div><%= payload.fname %></div> <br>
            <div class="inline">Last Name:</div> <div><%= payload.lname %></div> <br>
            <div class="inline">Mail:</div> <div><%= payload.mail %></div> <br>
            <div class="inline">Equity:</div> <div id="myWallet" class="inline"><%= payload.wallet %>$</div> <button class="topup inline" onclick="addMoney()">TopUp</button> <br>
            <br>
            <div class="inline">Access Rights</div>
            <div>
                <% if ( payload.isAdmin === 1) { %>
                    Administrator
                <%} else {%>
                    User
                <%} %>
            </div>
        </fieldset>
    </div>
    <br><br>
    <div class="half">
        <legend>
            Your Reservations
        </legend><br>
        <% foglalasok.forEach((item) => { %>
            <% if (item.valability === 0) { %>
            <div class='bordered inlinediv' id="foglalas_<%= item.foglalasID %>">
                <p>Reservation No. <%= item.foglalasID %></p>
                <p>Route No. <%= item.jaratID %></p>
                    <button class="inline" onclick="rmFoglalas( `<%= item.foglalasID %>` )">Delete</button>
                    <form class="inline" action="/manageAcc/buyTicket/<%= item.foglalasID %>" method="post">
                        <button class="inline" type="submit">Buy</button>
                    </form>
            </div>
        <% } }); %>
    </div>
    <div class=half>
        <legend>
            Your Tickets
        </legend>
        <br>
        <% foglalasok.forEach((item) => { %>
            <% if (item.valability === 1) { %>
            <div class='bordered inlinediv' id="foglalas_<%= item.foglalasID %>">
                <p>Ticket No. <%= item.foglalasID %></p>
                <p>Route No. <%= item.jaratID %></p>
                <a href="/ticket_<%= item.foglalasID %>.docx"><button>Download</button></a>
            </div>
        <% } }); %>
    </div>
</body>
</html>