<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>VonaTrans admin</title>
</head>
<body>
    <%- include('pLoggedIn.ejs') %>
    <h1>Welcome back admin!</h1>
    <p class="error"><%=error %></p>
    <div id="adminFormDiv">
        <form action="adminFormSuibmitted" id="adminForm" method="POST">
            <fieldset>
                <legend>Line Administration</legend>
                <label for="adminFrom">Departure</label><br>
                <input type="text" id="adminFrom" name="adminFrom" pattern="^[A-Z][a-z]+" required><br>
                <label for="adminWhere">Destination</label><br>
                <input type="text" id="adminWhere" name="adminWhere" pattern="^[A-Z][a-z]+" required><br>
                <label for="adminDay">Day</label><br>
                <input type="date" name="adminDay" id="adminDay" required><br>
                <label for="adminTime">Time</label><br>
                <input type="time" name="adminTime" id="adminTime" required><br>
                <label for="adminPrice">Price</label><br>
                <input type="number" name="adminPrice" id="adminPrice" required><br>
                <label for="trainType">Train Type</label><br>
                <select type="text" name="trainType" id="trainType" required>
                    <option value="Long-Distance">Long-Distance</option>
                    <option value="High-Speed">High-Speed</option>
                    <option value="Inter-City">Inter-City</option>
                    <option value="Regional">Regional</option>
                    <option value="Short-Distance">Short-Distance</option>
                    <option value="Commuter">Commuter</option>
                    <option value="Rapid-Transit">Rapid-Transit</option>
                    <option value="Tram">Tram</option>
                </select>
            </fieldset>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form><br>
    </div>  
</body>
</html>