<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>Unauthorized</title>
</head>
<body>
    <%- include('pLoggedIn.ejs') %>
    <div>
        <h1>
            <%= error %>
        </h1>
    </div>
</body>
</html>