<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <script src="/static.js"></script>
    <script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>
    <title>VonaTrans Reservations</title>
</head>

<body>
    <%- include('pLoggedIn.ejs') %>
    <h1>Greetings user! Hope you enjoy your journey with us!</h1>
    <div>
        <form action="getFoglalasok/foglalas/<%= jId%>" method="POST">
            <div>
                <button type="submit">Make reservation</button>
            </div>
        </form>
    </div>
    <div id="rmResp"></div>
    <div id="rmCatch"></div>
    <h2>Here are the reservations for route nr.<%= jId%></h2>
    <% foglalasok.forEach((item) => { %>
        <% if (item.valability === 0) { %>
        <div class='bordered inlinediv' id="foglalas_<%= item.foglalasID %>">
            <p>Reservation No. <%= item.foglalasID %></p>
        </div>
    <% } }); %>
</body>

</html>