<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <script src="/static.js"></script>
    <title>Home</title>
</head>

<body>
    <%- include('pLoggedIn.ejs') %>
    <br>
    <h1>Explore the World effortlessly by train with Vonatrans!</h1>
    <p class="error"><%= error %></p>
    <div id="guestFormDiv">
        <form action="guestFormSubmitted" id="guestForm" method="GET">
            <fieldset>
                <legend>Where do you wanna go?</legend>
                <div class="inline">
                    <label for="guestFrom">Departure</label><br>
                    <input type="text" id="guestFrom" name="guestFrom" required><br>
                    <label for="guestWhere">Destination</label><br>
                    <input type="text" id="guestWhere" name="guestWhere" required><br>

                    <hr>
                        <button type="button" onclick="showForm()">⇩ More options ⇩ </button>
                    <hr>

                    <div id="extra" style="display: none">
                        <label for="minprice">Minimum Price</label><br>
                        <input type="number" name="minprice" id="minprice"><br>
                        <label for="maxprice">Maximum Price</label><br>
                        <input type="number" name="maxprice" id="maxprice"><br>
                        <label for="searchDate">Date</label><br>
                        <input type="date" name="searchDate" id="searchDate"><br>
                        <label for="searchtt">Train type</label><br>
                        <select type="text" name="searchtt" id="searchtt">
                            <option value=""></option>
                            <option value="Long-Distance">Long-Distance</option>
                            <option value="High-Speed">High-Speed</option>
                            <option value="Inter-City">Inter-City</option>
                            <option value="Regional">Regional</option>
                            <option value="Short-Distance">Short-Distance</option>
                            <option value="Commuter">Commuter</option>
                            <option value="Rapid-Transit">Rapid-Transit</option>
                            <option value="Tram">Tram</option>
                        </select>
                    </div>
                    
                </div>
            </fieldset>
            <div>
                <button type="submit">Search</button>
            </div>
        </form><br>
    </div>
    <div>
        <h2 class='title'>All Train Routes</h2>
        <div id="miError"></div>
        <div id="miCatch"></div>
        <% jaratok.forEach((item) => { %>
        <div class='bordered inlinediv'>
            <h3 onclick="moreInfo(`<%= item.jaratID %>`)">
                <%= item.jaratID %>. Route: <%= item.departure %> - <%= item.destination %>
            </h3>
            <p class='inline'><%= String(item.day).substr(0,15) %> <%= item.time %></p>
            <p id="moreInfo_<%= item.jaratID %>"></p>
            <% if (payload.isAdmin === 1) { %>
                <a href="/deletJarat/<%= item.jaratID %>">
                    <button class='delbutton'>Delete</button>
                </a> 
                <a href="getFoglalasok/<%= item.jaratID %>">
                    <button>Reservations</button>
                </a>
            <% } else if (payload.uname && payload.isAdmin === 0) { %>
                <a href="getFoglalasok/<%= item.jaratID %>">
                    <button>Reservations</button>
                </a>
            <% } %>
            <div id="errdiv_<%= item.jaratID %>"></div>
        </div>
        <% }); %>
    </div>
    <div>
        <fieldset class="revFieldSet">
            <legend>Reviews</legend>
            <% revs.forEach((rev) => { %>
                <div class='bordered revdiv' id="reviewNumber<%= rev.revid %>">
                    <h3 class="inline"><%= rev.reviewername %></h3>
                    <%if (payload.uname === rev.reviewername || payload.isAdmin === 1) { %>
                        <button class="x" onclick="rmReview( `<%= rev.revid %>` )">x</button>
                    <% }; %>
                    <p><%= rev.revtext %></p>
                </div>
            <% }); %>
        </fieldset>
        <div id="revresp"></div>
        <div id="revcatch"></div>
        <h2>Tell Us Your Opinion!</h2>
        <textarea name="revTextArea" id="revTextArea" cols="100" rows="10" form="revs"></textarea>
        <br>
        <form id="revs" action="addReview" method="POST">
            <% if (payload.uname) { %>
                <button type="submit">Submit</button>
            <% } else { %>
                <button type="submit" disabled>Submit</button>
            <% }; %>
        </form>
    </div>
</body>
</html>