<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>VonaTrans login</title>
</head>
<body>
    <div id="loginError"></div>
    <a href="/">
        <img src="/Images/trainLogo.png" alt="logo.png" width="150" height="150" style="float: left;"><br>
    </a>
    <div id="loginForm">
        <form action="login/login" method="POST">
            <fieldset>
                <legend>Login</legend>
                <label for="loginUsername">Username:</label><br>
                <input type="text" id="loginUsername" name="loginUsername" required><br>
                <label for="loginPassword">Password:</label><br>
                <input type="password" id="loginPassword" name="loginPassword" required><br>
            </fieldset>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>