<% if (payload.uname) { %>
    <div class="log">
       <a class="home" href="/">
           <img src="/Images/trainLogo.png" alt="logo.png" width="150" height="150" style="float: left;"><br>
       </a>
        
        <div class="authenticator">Hello, <%= payload.fname %></div>
        <form action="/manageAcc" method="GET" class="inline">
            <button type="submit">Account</button>
        </form>
        <form action="/login/logout" method="POST" class="inline">
            <button type="submit">Logout</button>
        </form>
        <% if (payload.isAdmin === 1) { %>
            <form action="/admin" method="GET" class="inline">
                <button type="submit">New Route</button>
            </form>
        <% } %>
    </div><br>
<% } else { %>
    <div class="log">
    <a class="home" href="/">
        <img src="/Images/trainLogo.png" alt="logo.png" width="150" height="150" style="float: left;"><br>
    </a>
        <form action="/login" method="GET" class="inline">
            <button type="submit">Login</button>
        </form>
        <form action="/login/register" method="GET" class="inline">
            <button type="submit">Register</button>
        </form>
    </div><br>
<% } %>

