<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>VonaTrans registration</title>
</head>
<body>
    <a href="/">
        <img src="/Images/trainLogo.png" alt="logo.png" width="150" height="150" style="float: left;"><br>
    </a>
    <div id="registerForm">
        <form action="/submitrgs" method="POST">
            <fieldset>
                <legend>Registration</legend>
                <label for="rgFirstName">First Name:</label><br>
                <input type="text" id="rgFirstName" name="rgFirstName" required><br>
                <label for="rgLastName">Last Name:</label><br>
                <input type="text" id="rgLastName" name="rgLastName" required><br>
                <label for="rgMail">Mail:</label><br>
                <input type="text" id="rgMail" name="rgMail" required><br>
                <label for="rgUsername">Username:</label><br>
                <input type="text" id="rgUsername" name="rgUsername" required><br>
                <label for="rgPassword">Password:</label><br>
                <input type="password" id="rgPassword" name="rgPassword" required><br>
            </fieldset>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>