body {
    background-color: rgb(141, 141, 141);
}

a {
    margin-left: 10px;
    float: right;
}

.half {
    width: 49%;
    float: left;
}

.authenticator {
    font-size: x-large;     
    font-style: bold;
}

.delbutton {
    float: right;
    background-color: #d14444;
    border: none;
    color: black;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition-duration: 0.4s;
    border: 2px solid #d14444;
    margin-top: 5px;
    margin-left: 10px;
}

.inline {
    display: inline-block;
    margin: auto;
}

.inlinediv {
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    width: 150;
    display: inline-block;
    vertical-align: top;
    margin: 0 32px 32px 0;
}

.revdiv {
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    width: fit-content;
    vertical-align: top;
    margin: 0 32px 32px 0;
}

.bordered {
    border: solid #d14444;
    padding: 0.2em 0.5em;
    border-radius: 8px;
}

.title {
    padding: 0.2em 0.5em;
    border: 3px solid #d14444;
    font-size: x-large;
    font-weight: bold;
    color: black;
    text-align: left;
    background-color: #d14444;
    border-radius: 8px;
    width: 9%;
}

button:not(.x) {
    background-color: #d14444;
    border: none;
    color: black;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    transition-duration: 0.4s;
    border: 2px solid #d14444
}

.topup {
    background-color: #d14444;
    border: none;
    color: black;
    padding: 6px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    transition-duration: 0.4s;
    border: 2px solid #d14444
}

button:hover {
    background-color: white;
    color: black;
}

button:disabled {
    background-color: rgb(79, 79, 79);
    color: black;
    border: black;
}

button:disabled:hover {
    background-color: rgb(61, 61, 61);
    color: black;
    border: black;
}

.x {
    font-size: xx-small;
    text-align: center;
    font-weight: bold;
    width: 0.5cm;
    height: 0.5cm;
    float: right;
    background-color: #d14444;
}

fieldset {
    border: #d14444 solid 3px;
    border-radius: 8px;
    display: inline-block;
}

button {
    border-radius: 8px;
}

legend {
    padding: 0.2em 0.5em;
    border: 3px solid #d14444;
    font-size: x-large;
    font-weight: bold;
    color: black;
    text-align: left;
    background-color: #d14444;
    border-radius: 8px;
    width: fit-content;
}

input {
    border-radius: 6px;
}

.revFieldSet {
    width: 98%;
}